<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <div id="app">
    {{ message }}
  </div>
  <div id="app-2">
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds
      to see my dynamically bound title!
    </span>
  </div>
  <div id="app-3">
    <span v-if="seen">Now you see me</span>
  </div>
  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>
  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>
  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>

  <div id="app-7">
    <ol>
      <!--
        Now we provide each todo-item with the todo object
        it's representing, so that its content can be dynamic.
        We also need to provide each component with a "key",
        which will be explained later.
      -->
      <todo-item
        v-for="item in groceryList"
        v-bind:todo="item"
        v-bind:key="item.id"
      ></todo-item>
    </ol>
  </div>

  <div id="app-8">
    <p>Data = {{ a }}</p>
  </div>
  <div id="app-9">
    <p>{{ foo }}</p>
    <!-- this will no longer update `foo`! -->
    <button v-on:click="foo = 'baz'">Change it</button>
  </div>
  <div id="app-10">
    <button v-on:click="a = 'baz'">Change it</button>
  </div> 
  <div id="app-11">
  </div>

<!-- Template Syntax :- -->
<h3>Template Syntax</h3>
  <!-- Interpolations :- -->
  <div id="app-12">
    <h4>Interpolations</h4>
    <!-- Text -->
    <p><span>Message: {{ msg }}</span></p>
    <p><span v-once>This will never change: {{ msg }}</span></p>
    <button v-on:click="msg = 'Changed'">Change it</button>

    <!-- Raw HTML -->
    <p>Using mustaches: {{ rawHtml }}</p>
    <p>Using v-html directive: <span v-html="rawHtml"></span></p>

    <!-- Attributes -->
    <div v-bind:id="dynamicId">dynamicId</div>
    <button v-bind:disabled="isButtonDisabled">Button</button>


    <!-- Using JavaScript Expressions -->
    <p>{{ number + 1 }}</p>

    <p>{{ ok ? 'YES' : 'NO' }}</p>

    <p>{{ message.split('').reverse().join('') }}</p>

    <div v-bind:id="'list-' + id">List-{{ id }}</div>

  </div>

  <!-- Directives :- -->
  <div id="app-13">
      <h4>Directives</h4>
      <p v-if="seen">Now you see me</p> <!-- Here, the v-if directive would remove/insert the <p> element based on the truthiness of the value of the expression seen. -->

      <!-- Arguments -->
      <p><a v-bind:href="url"> Google </a></p> <!-- Some directives can take an “argument”, denoted by a colon after the directive name. For example, the v-bind directive is used to reactively update an HTML attribute: -->
      <p><a v-on:click="doSomething"> doSomething(Hide Now you can see me) on click </a></p>
      <p><a v-on:click="url='https://www.github.com'"> Change the above Google url </a></p>

      <!-- Dynamic Arguments -->
      <!-- When using in-DOM templates (templates directly written in an HTML file), you should also avoid naming keys with uppercase characters, as browsers will coerce attribute names into lowercase: -->
      <p><a v-bind:[attributeName]="url"> Dynamic Attribute </a></p> <!-- This will be converted to v-bin [attributename] in in-DOM templates. Unless you have a "attributename" property in your instance, your code won't work. -->
      <p><a v-on:[eventName]="doSomething"> doSomething(Hide Now you can see me) on click </a></p>

      <!-- Modifiers -->
      <form v-on:submit.prevent="onSubmit"> ... </form>
  </div>

  <!-- Shorthands -->
    <div id="app-14">
      <!-- v-bind Shorthand -->
      <!-- full syntax -->
      <p><a v-bind:href="url"> v-bind Full Syntax </a></p>

      <!-- shorthand -->
      <p><a :href="url"> v-bind Shorthand </a></p>

      <!-- shorthand with dynamic argument (2.6.0+) -->
      <p><a :[key]="url"> v-bind Shorthand with dynamic argument </a></p>

    <!-- v-on Shorthand -->
      <!-- full syntax -->
      <p><a v-on:click="doSomething"> v-on Full Syntax (See Console)</a></p>

      <!-- shorthand -->
      <a @click="doSomething"> v-on Shorthand (See Console)</a>

      <!-- shorthand with dynamic argument (2.6.0+) -->
      <a @[event]="doSomething"> v-on Shorthand with dynamic argument (See Console)</a>
    </div>









  <script src="js/vue.js"></script>
  <script src="js/custom_vue_scripts.js"></script>
  <script src="js/vendor/modernizr-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
