<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <div id="app">
    {{ message }}
  </div>
  <div id="app-2">
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds
      to see my dynamically bound title!
    </span>
  </div>
  <div id="app-3">
    <span v-if="seen">Now you see me</span>
  </div>
  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>
  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>
  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>

  <div id="app-7">
    <ol>
      <!--
        Now we provide each todo-item with the todo object
        it's representing, so that its content can be dynamic.
        We also need to provide each component with a "key",
        which will be explained later.
      -->
      <todo-item
        v-for="item in groceryList"
        v-bind:todo="item"
        v-bind:key="item.id"
      ></todo-item>
    </ol>
  </div>

  <div id="app-8">
    <p>Data = {{ a }}</p>
  </div>
  <div id="app-9">
    <p>{{ foo }}</p>
    <!-- this will no longer update `foo`! -->
    <button v-on:click="foo = 'baz'">Change it</button>
  </div>
  <div id="app-10">
    <button v-on:click="a = 'baz'">Change it</button>
  </div> 
  <div id="app-11">
  </div>

  <!-- Template Syntax -->
<div id="app-12">
  <h4>Template Syntax</h4>
  <!-- Text -->
  <p><span>Message: {{ msg }}</span></p>
  <p><span v-once>This will never change: {{ msg }}</span></p>
  <button v-on:click="msg = 'Changed'">Change it</button>

  <!-- Raw HTML -->
  <p>Using mustaches: {{ rawHtml }}</p>
  <p>Using v-html directive: <span v-html="rawHtml"></span></p>

  <!-- Attributes -->
  <div v-bind:id="dynamicId">dynamicId</div>
  <button v-bind:disabled="isButtonDisabled">Button</button>


  <!-- Using JavaScript Expressions -->
  <p>{{ number + 1 }}</p>

  <p>{{ ok ? 'YES' : 'NO' }}</p>

  <p>{{ message.split('').reverse().join('') }}</p>

  <div v-bind:id="'list-' + id">List-{{ id }}</div>
</div>









  <script src="js/vue.js"></script>
  <script src="js/custom_vue_scripts.js"></script>
  <script src="js/vendor/modernizr-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
